.btn {
  margin-bottom: 15px;
}

#satu {
  color: #000;
  background-color: #FEF5CB;
}

#dua {
  color: #000;
  background-color: #FAF27A;
}

#tiga {
  color: #000;
  background-color: #FEF086;
}

#empat {
  color: #000;
  background-color: #FFEB03;
}

#lima {
  color: #000;
  background-color: #FFBF4C;
}

#enam {
  color: #000;
  background-color: #F78C2B;
}

#tujuh {
  color: #000;
  background-color: #D17D35;
}

#delapan {
  color: #fff;
  background-color: #A15C22;
}
