.btn {
  display: block;
  width: 100%;
}

#satu {
  color: #000;
  background-color: #FEF5CB;
  border-color: #FEF5CB;
}

#dua {
  color: #000;
  background-color: #FAF27A;
  border-color: #FAF27A;
}

#tiga {
  color: #000;
  background-color: #FEF086;
  border-color: #FEF086;
}

#empat {
  color: #000;
  background-color: #FFEB03;
  border-color: #FFEB03;
}

#lima {
  color: #000;
  background-color: #FFBF4C;
  border-color: #FFBF4C;
}

#enam {
  color: #fff;
  background-color: #F78C2B;
  border-color: #F78C2B;
}

#tujuh {
  color: #fff;
  background-color: #D17D35;
  border-color: #D17D35;
}

#delapan {
  color: #fff;
  background-color: #A15C22;
  border-color: #A15C22;
}
