:root {
  --white: #fff;
  --black: #000;
}
.btn {
  display: block;
  width: 100%;
}

#label {
  color: #90A4AE;
  font-weight: lighter;
  font-size: 1.5em;
}

#satu {
  color: var(--black);
  background-color: #FEF5CB;
  border-color: #FEF5CB;
}

#dua {
  color: var(--black);
  background-color: #FAF27A;
  border-color: #FAF27A;
}

#tiga {
  color: var(--black);
  background-color: #FEF086;
  border-color: #FEF086;
}

#empat {
  color: var(--black);
  background-color: #FFEB03;
  border-color: #FFEB03;
}

#lima {
  color: var(--black);
  background-color: #FFBF4C;
  border-color: #FFBF4C;
}

#enam {
  color: var(--white);
  background-color: #F78C2B;
  border-color: #F78C2B;
}

#tujuh {
  color: var(--white);
  background-color: #D17D35;
  border-color: #D17D35;
}

#delapan {
  color: var(--white);
  background-color: #A15C22;
  border-color: #A15C22;
}
